<h1><%= @merit_badge.name %> Merit Badge</h1>

<table class="detail">
  <tr>
    <th>Eagle-required:</th>
    <td><%= @merit_badge.eagle_required ? "Y" : "N" %></td>
  <% if admin? %>
    <td class="actions">
      <%= link_to 'Edit', edit_merit_badge_path(@merit_badge) %>
    <% if @merit_badge.unused? %>
      <%= link_to 'Delete', @merit_badge,
        :confirm => "Delete unused #{@merit_badge.name} merit badge?", :method => :delete %>
    <% end %>
    </td>
  <% end %>
  </tr>
</table>

