a {
  color: #070;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

nav ul {
  text-align: center;
}

nav ul li {
  background-color: #EEE;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0.1em 0.5em;
  font-size: 120%;
  font-weight: bold;
}

.flash-notice {
  color: green;
}

.listing th {
  padding-right: 2em;
  text-align: left;
}

.listing td {
  padding-right: 2em;
}

.detail td {
  padding-right: 2em;
}

td.actions {
  padding-left: 2em;
  color: #0F0;
}

.actions a {
  color: #900;
}

.satisfied {
  background-color: #CFC;
}

td.required {
  font-weight: bold
}

td.uncollected {
  background-color: #FFA;
}

.vsep {
  margin-top: 1em;
}

