<h1>Ranks</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Scouts at rank</th>
  <% if admin? %>
    <th>Ordinal</th>
  <% end %>
    <th>Merit badges required</th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Add', new_rank_path %></td>
  <% end %>
  </tr>

<% @ranks.each do |rank| %>
  <tr>
    <td><%= link_to rank.name, rank %></td>
    <td><%= rank.num_active_scouts %></td>
  <% if admin? %>
    <td><%= rank.ordinal %></td>
  <% end %>
    <% td_rank_merit_badge_counts(rank) %>
  </tr>
<% end %>
</table>

