<h1>Scouts</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <!--
    <th>Rank</th>
    <th>Merit Badges</th>
    <th>Nights of Camping</th>
    -->
    <th>Birthday</th>
    <th>Active</th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Add', new_scout_path %></td>
  <% end %>
  </tr>

<% @scouts.each do |scout| %>
  <tr>
    <td><%= link_to scout.name, scout %></td>
    <!--
    <td>< %= scout.rank ? (link_to scout.rank.name, scout.rank) : "" %></td>
    < % td_merit_badge_counts(scout) %>
    < % td_nights_of_camping_counts(scout) %>
    -->
    <td><%= scout.birthday %></td>
    <td><%= scout.active %></td>
  </tr>
<% end %>
</table>

