<h1><%= @scout.name %></h1>

<table class="detail">
  <tr>
    <!--
    <th>Rank:</th>
    <td>< %= @scout.rank ? (@scout.rank.name) : "" %></td>
    <th>Merit badges:</th>
    < % td_merit_badge_counts(@scout) %>
    <th>Nights of camping:</th>
    < % td_nights_of_camping_counts(@scout) %>
    -->
    <th>Birthday:</th>
    <td><%= @scout.birthday %></td>
    <th><%= @scout.active ? "Active" : "Inactive" %></th>
  <% if admin? %>
    <td class="actions"><%= link_to 'Edit', edit_scout_path(@scout) %></td>
  <% end %>
  </tr>
</table>

