<%= form_for(@badger_config) do |f| %>
  <% form_error_messages(@badger_config, "configuration") %>
  <% form_text_field(f, :login) %>
  <% form_password_field(f, :password) %>
  <% form_password_field(f, :password_confirmation) %>
  <% form_text_field(f, :admin_login) %>
  <% form_password_field(f, :admin_password) %>
  <% form_password_field(f, :admin_password_confirmation) %>
  <div class="actions">
    <%= f.submit "Save", :name => "save" %>
  </div>
<% end %>

